.MathJax {
    /* font-size: 1em !important; */
    background-color: transparent !important;
}

.box {
    border-radius: 4px;
    padding: 15px;
    margin: 25px;
    overflow-x: auto;
}

.box,
.box * {
    /* color: white !important */
    background-color: #0a0a0a;
}

.definition {
    border: 2px solid rgb(34, 211, 18);
}

.proposition {
    border: 2px solid rgb(185, 175, 32);
}

.propriete {
    border: 2px solid rgb(199, 94, 8);
}

.theoreme {
    border: 10px double red;
}

.axiome {
    border: 10px double rgb(1, 71, 201)
}

.methode {
    border: 2px dashed rgb(14, 27, 209);
}

.lemme {
    border: 2px dashed rgb(155, 3, 117);
}

.corollaire {
    border: 2px dashed rgb(223, 48, 59);
}

.remarque {
    border: 2px solid rgb(18, 153, 206);
}

.texte {
    border: 2px dashed rgb(248, 248, 248);
}

.disabled {
    background-color: rgb(26, 16, 16);
    border: 2px solid grey;
    border-radius: 0;
}

.disabled * {
    background-color: rgb(26, 16, 16);
    /* border: 2px solid grey;
    border-radius: 0; */
}

.imgc {
    max-width: 500px !important;
    max-height: 500px !important;
}