.MathJax {
    font-size: 1em !important;
    background-color: transparent !important;
}

.box {
    border-radius: 3px;
    padding: 15px;
    margin: 15px;
    overflow-x: auto;
}

.definition,
.definition * {
    background-color: rgb(0, 15, 1);
}

.definition {
    border: 1px solid rgb(9, 65, 7);
}

.proposition,
.proposition * {
    background-color: rgb(34, 27, 0);
}

.proposition {
    border: 1px solid rgb(189, 155, 43);
}

.propriete,
.propriete * {
    background-color: rgb(34, 27, 0);
}

.propriete {
    border: 1px solid rgb(189, 155, 43);
}

.theoreme,
.theoreme * {
    background-color: rgb(40, 5, 6);
}

.theoreme {
    border-color: rgb(200, 50, 60);
    border-width: 10px;
    border-style: double;
}

.axiome,
.axiome * {
    background-color: rgb(7, 31, 75);
}

.axiome {
    border-color: rgb(1, 71, 201);
    border-width: 10px;
    border-style: double;
}

.methode,
.methode * {
    background-color: rgb(5, 6, 40);
}

.methode {
    border: 2px dashed rgb(50, 60, 200);
}

.lemme,
.lemme * {
    background-color: rgb(40, 5, 30);
}

.lemme {
    border: 2px dashed rgb(107, 8, 82);
}

.corollaire,
.corollaire * {
    background-color: rgb(40, 5, 6);
}

.corollaire {
    border: 2px dashed rgb(200, 50, 60);
}

.remarque,
.remarque * {
    background-color: rgb(2, 32, 41);
}

.remarque {
    border: 2px solid rgb(3, 151, 209);
}

.texte,
.texte * {
    background-color: rgb(18, 26, 29);
}

.texte {
    border: 2px dashed rgb(248, 248, 248);
}

.disabled {
    background-color: rgb(26, 16, 16);
    border: 1px solid grey;
    border-radius: 0;
}

.disabled * {
    background-color: rgb(26, 16, 16);
    /* border: 1px solid grey;
    border-radius: 0; */
}